.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /*align at the top */
  min-height: 100vh; /* container takes up full viewport*/
  margin: 0;
  padding: 25px;
  background-color: gray;
}

.logo{
  height: 150px;
  width: 150px;
}

.playerForm {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statCard{
  background-color: #fc773a;
  border: 2px solid black;
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gridItem{
  padding: 7px;
  border: 2px solid black;
  background-color: white;
}

.footer{
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}
